@{
    ViewData["Title"] = "Home Page";
}

<header>
    <link href="/dist/output.css" rel="stylesheet">
</header>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button class="btn btn-primary">Button</button>

<div class="card w-96 bg-primary text-primary-content">
    <div class="card-body">
        <h2 class="card-title">Card title!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="justify-end card-actions">
            <button class="btn">Buy Now</button>
        </div>
    </div>
</div>

<span class="font-mono text-6xl countdown">
    <span style="--value:54;"></span>
</span>

<div class="btn-group">
    <input type="radio" name="options" data-title="1" class="btn" />
    <input type="radio" name="options" data-title="2" class="btn" checked />
    <input type="radio" name="options" data-title="3" class="btn" />
    <input type="radio" name="options" data-title="4" class="btn" />
</div>